<div class="content job-list">
  <div style="margin-bottom:10px;">
    <span class="col-md-2 text-center col-sm-12 col-xs-12 col-padding"><h4 style="margin:0;line-height:34px;">Archived Jobs</h4></span>
  </div>

  {{jobs-table content=content}}
</div>
