<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Successfully added or updated job: <%= @job.title %> (#<%= @job.id %>). Check the jobs page to see the new information.</p>
  </body>
  </html>
