<form role="form">
  <div class="form-group">
    <label for="email">To:</label>
    {{view Ember.TextField classNames="form-control" value=email placeholder="Enter an email..." readonly=true}}
  </div>
  <div class="form-group">
    <label for="subject">Subject:</label>
    {{view Ember.TextField classNames="form-control" value=subject placeholder="Enter a subject line..."}}
  </div>
  <div class="form-group">
    <label for="subject">Reason for Rejection:</label>
    {{view Ember.TextField classNames="form-control" value=reason placeholder="We feel that..."}}
  </div>
  <div class="form-group">
    <label for="body">Body:</label>
    {{view Ember.TextArea classNames="form-control" value=body placeholder="Enter a body message..." rows=8 readonly=true}}
  </div>
</form>
