/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background-color: #f3f3f3 !important;
}

.content {
  padding: 10px;
  border: 1px solid #e5e5e5;
  border-radius: 2px;
  background-color: #FDFDFD;
}

.col-padding {
  padding-top: 5px;
  padding-bottom: 5px;
}

.wrapper {
  min-height: 500px;
}
.footer {
  height: 50px;
  text-align: center;
  width: 100%;
  padding-bottom: 10px;
}

.container {
  margin-bottom: 20px;
}

.nav {
  padding: 8px;
  background-color: #92ABCE;
  background-image: none;
  border-bottom: 1px solid rgb(137, 158, 189);
  box-shadow: none;
  a {
    color: white;
    .logo {
      height: 32px;
    }
  }
}

.btn {
  border-radius: 2px !important;
}

.btn-brown {
  color: white;
  background-color: #867A6E;
  border-color: #696055;
  text-shadow: 0 -1px rgb(78, 69, 56);
  border-radius: 2px;
  &:hover {
    color: white;
    background-color: #69625B;
  }
}

