#jobs {
  background-color: #F0F0F0;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
  overflow-y: scroll;
  th {
    text-align: center;
  }
  td {
    text-align: center;
  }
  #daily-select {
    position: relative; 
    top: 1px;
    padding-right: 10px;
    display: inline-block;
    width: 250px;
  }
}

.table {
  margin-bottom: 0;
}
