<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Tufts Daily Job Manager</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    
<meta name="jobs-tuftsdaily/config/environment" content="%7B%22contentSecurityPolicy%22%3A%7B%22default-src%22%3A%22%27none%27%22%2C%22script-src%22%3A%22%27self%27%20%27unsafe-inline%27%20%27unsafe-eval%27%20use.typekit.net%20connect.facebook.net%20maps.googleapis.com%20maps.gstatic.com%22%2C%22font-src%22%3A%22%27self%27%20data%3A%20use.typekit.net%22%2C%22connect-src%22%3A%22%27self%27%22%2C%22img-src%22%3A%22%27self%27%20www.facebook.com%20p.typekit.net%22%2C%22style-src%22%3A%22%27self%27%20%27unsafe-inline%27%20use.typekit.net%22%2C%22frame-src%22%3A%22s-static.ak.facebook.com%20static.ak.facebook.com%20www.facebook.com%22%7D%2C%22modulePrefix%22%3A%22jobs-tuftsdaily%22%2C%22environment%22%3A%22production%22%2C%22baseURL%22%3A%22/%23/%22%2C%22locationType%22%3A%22hash%22%2C%22EmberENV%22%3A%7B%22FEATURES%22%3A%7B%7D%7D%2C%22APP%22%3A%7B%7D%2C%22simple-auth%22%3A%7B%22authorizer%22%3A%22simple-auth-authorizer%3Adevise%22%2C%22authenticationRoute%22%3A%22application%22%7D%2C%22exportApplicationGlobal%22%3Afalse%7D" />

    <link rel="stylesheet" href="assets/vendor-93de46fa448422fee74721b9993983a6.css">
    <link rel="stylesheet" href="assets/jobs-tuftsdaily-a2538a131f2ffebecfa128a59095358d.css">

    
  <%= csrf_meta_tags %></head>
  <body><%= yield %>
    

    <script src="assets/vendor-efa6751e18c785156daf4e1a2e5158e3.js"></script>
    <script src="assets/jobs-tuftsdaily-3065dc77dbbaae4d6ff8bbf757bdb32e.js"></script>

    
  </body>
</html>
