<!DOCTYPE html>
<html>
<head>
  <title>JobsTuftsdaily</title>
  <%= stylesheet_link_tag    '/assets/assets/jobs-tuftsdaily', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag '/assets/assets/jobs-tuftsdaily', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
